{% extends "base.html" %}
{% load static %}

{% block title %}Категории{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex flex-wrap gap-3 mb-5" style="justify-content: center">
            {% for category in categories %}
            <div>
                {% include "auto_store/card_category.html" with category=category %}
            </div>
            {% empty %}
            <p class="text-secondary">Категории скоро появятся</p>
            {% endfor %}
        </div>

        <div class="row g-4 mb-4" id="cars-block">
            {% if page_cars is not None %}
            {% for auto in page_cars.object_list %}
            <div class="col-md-6 col-lg-4">
                {% include "auto_store/card_auto.html" with auto=auto photos=auto.car_images.all %}
            </div>
            {% empty %}
            <div class="col-12 text-center text-secondary py-5">Автомобили в данной категории скоро появятся</div>
            {% endfor %}
            {% else %}
            <div class="col-12 text-center text-secondary py-5">Выберите категорию</div>
            {% endif %}
        </div>

        {% if page_cars and page_cars.has_other_pages %}
        <nav aria-label="Пагинация" class="d-flex justify-content-center" style="margin-top: 1rem;">
            <ul id="ul-pagination-cars" class="pagination pagination-dark" style="cursor: pointer;">
                {% if page_cars.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_cars.next_page_number }}"
                    data-url-offer="{% url 'auto_store:offer' 'auto-offer-slug' %}"
                    data-url-static="{% static 'images/placeholder-car.jpg' %}"
                    onClick="addCars(this)">
                        Показать ещё
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/get_cars_in_category.js' %}"></script>
{% endblock extra_js %}
