{% load static %}
<div class="card feedback-card h-100">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start mb-2">
            <div class="d-flex align-items-center gap-2 mb-2">
                {% if feedback.has_avatar %}
                <img class="sochno-logo-icon" style="width: 32px; height: 32px; font-size: 0.9rem;" src="{{ MEDIA_URL }}{{ feedback.avatar.url }}">
                {% else %}
                <div class="sochno-logo-icon">
                    <span>👤</span>
                </div>
                {% endif %}
                <strong style="color: #f1f5f9">{{ feedback.name_user }}</strong>
            </div>
        </div>
        <div class="stars-rating" style="padding-bottom: 5px;">
            {% for i in "12345" %}
            <span>{% if forloop.counter <= feedback.score|default:5 %}★{% else %}☆{% endif %}</span>
            {% endfor %}
        </div>
        <p class="card-text text-secondary small">
            {% if feedback.feedback is not None %}
            {{ feedback.feedback }}
            {% else %}
            Отзыв без текста
            {% endif %}
        </p>
        {% if feedback.answer %}
        <div class="company-response">
            <div class="d-flex align-items-center gap-2 mb-2">
                <img class="sochno-logo-icon" style="width: 32px; height: 32px; font-size: 0.9rem;" src="{% static 'favicon.png' %}">
                <strong style="color: #f1f5f9">СОЧНО АВТО</strong>
            </div>
            <p class="mb-0 small text-secondary">{{ feedback.answer }}</p>
        </div>
        {% endif %}
    </div>
</div>
